<div class="cold-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form >
                <div class="form-group">
                    <input type="text" name="id" placeholder="Id" class="form-control" [(ngModel)]="game.id" autofocus>
                </div>  
                <div class="form-group">
                    <input type="text" name="title" placeholder="Title" class="form-control" [(ngModel)]="game.title" >
                </div>  
                <div class="form-group">
                    <textarea name="description" placeholder="Description" rows="2" [(ngModel)]="game.description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="url" name="image" placeholder="Image" [(ngModel)]="game.image" class="form-control">
                </div>
                
                <button class="btn btn-success btn-block" (click)="saveNewGame()">
                    SAVE
                </button>

            </form>

        </div>

    </div>
    <div class = "col-md-4">
        <div class="card card-body text-center">
            <img [src]= "game.image == '' ? '/assets/noimage.png' : game.image"  class="card-img-top">
            <h3>{{game.id}}.{{game.title == '' ? 'Game Title': game.title }} </h3>
            <p>{{game.description == '' ? 'Write your description': game.description  }}</p>
            <p>{{game.created_at | date:'yyyy-MM-dd'}}</p>
            <!-- este pie de angular es para dar formato deseado a la fecha antes de presentarla -->
    
    
        </div>
</div>

